@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700;800&family=EB+Garamond&display=swap");

body {
  font-family: DM Sans, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
